# --- CONFIGURACIÓN DE DESPLIEGUE (ANVIL) ---
RPC_URL=http://127.0.0.1:8545
# Cuenta #0 de Anvil (Administrador predeterminado de Anvil)
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# --- DIRECCIONES DE CONTRATO (Sincronizar tras deploy) ---
CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
VITE_CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3

# --- CONFIGURACIÓN DE APP ---
VITE_APP_TIMEZONE_OFFSET=-5  # -5 es el uso horario de Ecuador. Cambiar por el uso horario de su país de origen
VITE_LOCAL_IP=127.0.0.1
