# Configuraciones y variables de entorno
src/config/config.js
.env

# Dependencias y Paquetes
node_modules/
package-lock.json
lib/

# Estado de la cadena de bloques
blockchain_state.json

# Backups temporales
*.backup
*_backup

# Foundry (Compilación y Logs)
out/
cache/
broadcast/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/logs/
Documentacion/Cronograma.md
